<template>
  <story-blok :slug="$route.name">
    <template v-if="story.content" slot-scope="{ story }">
      <article 
        v-md="story.content.body[0].content" 
        class="pa3 pa5-ns" />
    </template>
  </story-blok>
</template>
<script>
import StoryBlok from '../components/story-blok.vue'

export default {
  name: 'about-page',
  components: {
    StoryBlok
  }
}
</script>
