<template>
  <story-blok :slug="$route.params.slug">
    <template v-if="story.content" slot-scope="{ story }">
      <simple-markdown class="pa3 pa5-ns">
        {{ story.content.content }} 
      </simple-markdown>
    </template>
  </story-blok>
</template>
<script>
import StoryBlok from '../components/story-blok.vue'
import SimpleMarkdown from '../components/simple-markdown.vue'

export default {
  name: 'blog-post',
  components: {
    StoryBlok,
    SimpleMarkdown
  }
}
</script>

<style scoped>
/deep/ img {
  width: 100%;
}
</style>
