<template>
  <story-blok slug="homepage">
    <template v-if="story.content" slot-scope="{ story }">
      <component :blok="story.content" :is="story.content.component"/>
    </template>
  </story-blok>
</template>
<script>
import StoryBlok from '../components/story-blok.vue'
import StoryLandingPage from '../components/story-landing-page.vue'

export default {
  name: 'home-page',
  components: {
    StoryBlok,
    StoryLandingPage
  }
}
</script>
