<template>
  <header class="pa3">
    <h1 class="f3 f1-m f-headline-l">{{ blok.headline }}</h1>
    <h3 class="f3 lh-copy">{{ blok.text }}</h3>
  </header>
</template>

<script>
export default {
  name: 'generic-heading',
  props: {
    blok: {
      type: Object,
      required: true
    }     
  }
}
</script>
