<template>
  <section class="container">
    <component 
      v-for="chapter in blok.chapters" 
      :blok="chapter" 
      :is="chapter.component" />
  </section>
</template>

<script>
import ChapterIntro from './chapters/chapter-intro.vue'
import ChapterMediaObject from './chapters/chapter-media-object.vue'
import ChapterMultiColumnTeaser from './chapters/chapter-multi-column-teaser.vue'

export default {
  name: 'story-landing-page',
  props: {
    blok: {
      type: Object,
      required: true
    } 
  },
  components: {
    ChapterIntro,
    ChapterMediaObject,
    ChapterMultiColumnTeaser
  }
}
</script>
