<template>
  <section class="flex">
    <paragraph-card
      v-for="teaser in blok.teasers"
      v-bind="teaser" />
  </section>
</template>

<script>
import ParagraphCard from './paragraphs/paragraph-card.vue'

export default {
  name: 'chapter-multi-column-teaser',
  props: {
    blok: {
      type: Object,
      required: true
    } 
  },
  components: {
    ParagraphCard 
  }
}
</script>
