<template>
  <img :src="blok.image" alt="blok.text">
</template>

<script>
export default {
  name: 'chapter-media-object',
  props: {
    blok: {
      type: Object,
      required: true
    } 
  }
}
</script>
