<template>
  <article class="mw5 center bg-white br3 pa3 pa4-ns mv3 ba b--black-10">
    <div class="tc">
      <img :src="image" class="br-100 h4 w4 dib ba b--black-05 pa2" title="Photo of a kitty staring at you">
      <h1 class="f3 mb2">{{ headline }}</h1>
      <h2 class="f5 fw4 gray mt0">{{ text }}</h2>
    </div>
  </article>
</template>

<script>
export default {
  name: 'paragraph-card',
  props: {
    image: {
      type: String,
      required: true
    },
    headline: {
      type: String,
      default: ''
    },
    text: {
      type: String,
      default: ''
    }
  }  
}
</script>
