<template>
  <main id="root" class="sans-serif">
    <router-view/>
  </main>
</template>
<script>
export default {
  name: 'app-root'
}
</script>

<style>
#root > * {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
}
</style>
